Repository dgroup/arch4u-pmd, pull requests merged in 2022-02, with the labels that each got.

#53 Feature/28
  src/main/java/io/github/dgroup/arch4u/pmd/AvoidProhibitedMethodsUsage.java
  src/main/java/io/github/dgroup/arch4u/pmd/MissingMandatoryAnnotation.java
  src/main/resources/io/github/dgroup/arch4u/pmd/monitoring/arch4u-micrometer-ruleset.xml
  src/test/java/io/github/dgroup/arch4u/pmd/MissingMandatoryAnnotationTest.java
  src/test/resources/io/github/dgroup/arch4u/pmd/xml/MissingMandatoryAnnotation.xml
Labels: enhancement, new rule

#71 Refactor AvoidProhibitedMethodsUsage
  src/main/java/io/github/dgroup/arch4u/pmd/AvoidProhibitedMethodsUsage.java
  src/test/resources/io/github/dgroup/arch4u/pmd/xml/AvoidProhibitedMethodsUsage.xml
Labels: enhancement

#72 Add monitoring rule: UseConstantForMetricAnnotation
  src/main/resources/io/github/dgroup/arch4u/pmd/monitoring/arch4u-micrometer-ruleset.xml
  src/test/java/io/github/dgroup/arch4u/pmd/UseConstantForMetricAnnotationTest.java
  src/test/resources/io/github/dgroup/arch4u/pmd/xml/UseConstantForMetricAnnotation.xml
Labels: new rule, monitoring

#80 Add logging rule: MdcOutsideTryStatement
  src/main/resources/io/github/dgroup/arch4u/pmd/logging/arch4u-logging-ruleset.xml
  src/test/java/io/github/dgroup/arch4u/pmd/MdcOutsideTryStatementTest.java
  src/test/resources/io/github/dgroup/arch4u/pmd/xml/MdcOutsideTryStatement.xml
Labels: new rule, logging

#83 #81: Fix of AvoidUsingObjectMapperAsALocalVariable
  src/main/resources/io/github/dgroup/arch4u/pmd/json/arch4u-json-ruleset.xml
  src/test/resources/io/github/dgroup/arch4u/pmd/xml/AvoidUsingObjectMapperAsALocalVariable.xml
Labels: bug

#97 edit readme.md table - add performance rules
  readme.md
  src/main/resources/io/github/dgroup/arch4u/pmd/thirdparty/arch4u-recommended-third-party-ruleset.xml
Labels: enhancement
